@import "tailwindcss";



@theme {
  --color-primary: #CC5DE8;
  --color-secondary: #ae3ec9;
  --color-text: #CCCACA;
  --color-hero-h1: #FFFEFE;
  --color-background: #0B0B0F;
}

@keyframes xuris-loading {
  0% {
    transform: translateX(-110%);
  }

  50% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(310%);
  }
}